description: Logs from Mistral
paths:
  - /var/log/mistral/mistral-server.log
filter: '
    if [message] =~ /INFO mistral.notifiers.notification_server/ {
      grok {
          break_on_match => false
          match => {
            "message" => "ex_id=%{DATA:ex_id}, event=%{DATA:event}, timestamp=%{DATA:log_timestamp}"
          }
      }
      if [message] =~ /u''name/ {
        grok {
          match => {
            "message" =>  "u''name'': u''%{DATA:name}''"
          }
        }
      }
      if [message] =~ /u''workflow_name/ {
        grok {
          match => {
            "message" =>  "u''workflow_name'': u''%{DATA:workflow_name}''"
          }
        }
      }
      if [message] =~ /u''workflow_id/ {
        grok {
          match => {
            "message" =>  "u''workflow_id'': u''%{DATA:workflow_id}''"
          }
        }
      }
      if [message] =~ /u''workflow_execution_id/ {
        grok {
          match => {
            "message" =>  "u''workflow_execution_id'': u''%{DATA:workflow_execution_id}''"
          }
        }
      }
      if [message] =~ /u''trace_tag/ {
        grok {
          match => {
            "message" =>  "u''trace_tag'': u''%{DATA:trace_tag}''"
          }
        }
      }
    }

'
timestamp:
  find: "\\d+-\\d+-\\d+ (\\d+):(\\d+):(\\d+)"
  replace: "%Y-%m-%d %H:%M:%S"
###
2019-01-20 23:30:12.851 932 INFO mistral.engine.engine_server [req-22e7f479-7de9-444a-b545-78f475a2d065 - - - - -]
