description: Logs from Stackstorm
paths:
  - /var/log/st2/st2actionrunner.*.log
filter: '
    if [message] =~ /liveaction_db/ {
      grok {
          break_on_match => false
          match => {
            "message" =>  "^%{TIMESTAMP_ISO8601:log_timestamp} %{NUMBER:log_thread} %{WORD:log_level} %{WORD:log_module} \[-\] %{GREEDYDATA:log_data}$"
          }
      }
      grok {
          match => {
            "log_data" => "^%{DATA}''status'': ''%{DATA:action_status}''%{DATA}$"
          }
      }
      grok {
          match => {
            "log_data" => "^%{DATA}u''trace_tag'': u''%{DATA:trace_tag}''%{DATA}$"
          }
      }
      grok {
          match => {
            "log_data" => "%{DATA}''start_timestamp'': ''%{TIMESTAMP_ISO8601:start_timestamp}''%{DATA}"
          }
      }
      grok {
          match => {
            "log_data" =>  "%{DATA}''action'': u''%{DATA:action_name}''"
          }
      }
      grok {
          match => {
            "log_data" =>  "%{DATA}''id'': ''%{DATA:action_id}''"
          }
      }

      if [log_data] =~ /exit_status/ {
        grok {
            break_on_match => false
            match => {
              "log_data" => "%{DATA}u''exit_status'': %{NUMBER:exit_status}%{DATA}"
            }
        }
      }

      if [log_data] =~ /hostname/ {
            grok {
                match => {
                  "log_data" => "^%{DATA}u''hostname'': u''%{DATA:hostname}'', u''pid'': %{NUMBER:pid}%{DATA}$"
                }
            }
      }

      if [log_data] =~ /u''workflow_name/ {
        grok {
            match => {
              "log_data" =>  "u''workflow_name'': u''%{DATA:workflow_name}''"
            }
        }
      }

      if [log_data] =~ /Launching action execution/ {
        mutate {
          add_field => { "action_overall_status" => "STARTED" }
        }
      }

      if [log_data] =~ /Liveaction completed/ {
        mutate {
          add_field => { "action_overall_status" => "FINISHED" }
        }
      }

      mutate { remove_field => ["log_data"] }
    }
'
timestamp:
  find: "\\d+-\\d+-\\d+ (\\d+):(\\d+):(\\d+)"
  replace: "%Y-%m-%d %H:%M:%S"
###
2019-01-17 18:53:03,292 140128372337712 AUDIT base [-] Liveaction completed

